@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* ========== Reset CSS ========== */

html,
body {
  height: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  /* background-color: #202023; */
  color: #f9f9f9;
  scroll-behavior: smooth;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ========== Dark Mode Support ========== */

body.dark {
  background-color: #121212;
  color: #eee;
}

/* ========== Utility Classes ========== */
.background-layer {
  z-index: -1;
}

.content-layer {
  z-index: 1;
  position: relative;
}
